:root{
    --mainColor: hwb(36 5% 2%);
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--mainColor);
    width: 100%;
    padding: .5em;
    color: #fff;
}
.line{
    width: 30%;
}
hr{
    margin-bottom: .5em;
}
.copyright p{
    text-align: center;
    margin-bottom: .5em;
}


/* media query */
@media screen and (max-width:1024px){
.line{
    width: 40%;
}
}
@media screen and (max-width:568px){
hr{
    display: none;
}
}